*{
  margin: 0;
  padding: 0;
}

/* ------------------------
    General
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import url('//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal; 
  font-size: 16px;
  color: #505050;
  background-color: #ffffff;
}

section {
  display: block;
}

img {
  max-width: 100% !important;
}

button:focus {
  outline: none !important;
}

main {
  min-height: 58vh;
}

/* Text selection color */
::-moz-selection {
  color: #ffffff;
  background: #333333;
}

::selection {
  color: #ffffff;
  background: #333333;
}

.custom-select {
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.input-field {
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

input:focus {
  font-family: 'Montserrat', sans-serif !important;
}

/* ------------------------
    Typography
------------------------*/
h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif; font-weight:normal; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; letter-spacing: 1px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-family: 'Montserrat', sans-serif; font-style: normal; font-weight: 700; color: #354A21;}
h2 { font-family: 'Montserrat', sans-serif; font-size: 56px; font-style: normal; font-weight: 600; color: #354A21;}
h3 { font-family: 'Montserrat', sans-serif; font-size: 48px; font-style: normal; font-weight: 600; color: #354A21;}
h4 { font-family: 'Montserrat', sans-serif; font-size: 40px; font-style: normal; font-weight: 600; color: #354A21;}
h5 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-style: normal; font-weight: 600; color: #354A21;}
h6 { font-family: 'Montserrat', sans-serif; font-size: 24px; font-style: normal; font-weight: 600; color: #354A21;}

a {
  color: #505050;
  text-decoration: none;
}

a:hover { 
  color: #643969;
  text-decoration: none !important;
}

/* ------------------------
  Color
------------------------*/
.primary-green {
  color: #260e29;
}

.primary-light-green {
  color: #643969;
}

/* 
    CTA-Btn
*/
.cta-btn{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border: 2px solid #643969 ;
  transition: 0.5s !important;
  border-radius: 50px;
  letter-spacing: 1px;
  padding: 8px 24px !important;
  margin: 0 8px;
  cursor: pointer;
  background: #643969;
  color: #c3d3db!important;
}

.cta-btn:hover{
  background: #c3d3db;
  color: #643969 !important;
  border: 2px solid #c3d3db ;
}


/* INPUT SECTION*/
.inputTitle{
  background-color: white;
  border:none;
  margin: 10px;
  width: 80%;
  height: 50px;
  text-align: center;
  color: black;
  font-size: 30px;
}
.fontSize{
  width:70px;
  color:black
}

